Package: me.nepeta.flexxx
Name: FLEXXX
Pre-Depends: firmware (>= 9.0)
Version: 0.1.0
Architecture: iphoneos-arm
Description: Open FLEX anywhere by holding 3 fingers at once.
Maintainer: Nepeta
Author: Tanner Bennett
Section: Development
