Package: me.nepeta.nottoday12
Name: NotToday12
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 11.0)
Conflicts: me.nepeta.slyd
Version: 0.1.3
Architecture: iphoneos-arm
Description: Removes the "Today" view.
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
