<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>%SUB_NAME%</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.notifica</string>
			<key>label</key>
			<string>HIDE_NO_OLDER</string>
			<key>key</key>
			<string>HideNoOlder</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.notifica</string>
			<key>label</key>
			<string>PULL_TO_CLEAR_ALL</string>
			<key>key</key>
			<string>PullToClearAll</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>VERTICAL_OFFSET</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>me.nepeta.notifica</string>
			<key>key</key>
			<string>VerticalOffset</string>
			<key>min</key>
			<real>-500</real>
			<key>max</key>
			<real>500</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>NOTIFICATION_SPACING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>8</real>
			<key>defaults</key>
			<string>me.nepeta.notifica</string>
			<key>key</key>
			<string>NotificationSpacing</string>
			<key>min</key>
			<real>-40</real>
			<key>max</key>
			<real>40</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>VERTICAL_OFFSET_NOTIFICATIONS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>me.nepeta.notifica</string>
			<key>key</key>
			<string>VerticalOffsetNotifications</string>
			<key>min</key>
			<real>-200</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>VERTICAL_OFFSET_NOW_PLAYING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>me.nepeta.notifica</string>
			<key>key</key>
			<string>VerticalOffsetNowPlaying</string>
			<key>min</key>
			<real>-200</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict> -->
	</array>
</dict>
</plist>