<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>icon</key>
			<string>notifica.png</string>
		</dict>

		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Nepeta</string>
			<key>user</key>
			<string>NepetaDev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.notifica</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>Enabled</string>
			<key>alternateColors</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>NTFSavedSettingsListController</string>
			<key>defaults</key>
			<string>me.nepeta.notifica</string>
			<key>label</key>
			<string>PRESET</string>
			<!-- <key>key</key>
			<string>SelectedSettings</string> -->
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>NOTIFICATION_CENTER</string>
			<key>detail</key>
			<string>NTFSubPrefsListController</string>
			<key>NTFSub</key>
			<string>NotificationCenter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>NOTIFICATIONS</string>
			<key>detail</key>
			<string>NTFSubPrefsListController</string>
			<key>NTFSub</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>BANNERS</string>
			<key>detail</key>
			<string>NTFSubPrefsListController</string>
			<key>NTFSub</key>
			<string>Banners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>WIDGETS</string>
			<key>detail</key>
			<string>NTFSubPrefsListController</string>
			<key>NTFSub</key>
			<string>Widgets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>DETAILS</string>
			<key>detail</key>
			<string>NTFSubPrefsListController</string>
			<key>NTFSub</key>
			<string>Details</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>NOW_PLAYING</string>
			<key>detail</key>
			<string>NTFSubPrefsListController</string>
			<key>NTFSub</key>
			<string>NowPlaying</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>EXPERIMENTAL</string>
			<key>detail</key>
			<string>NTFSubPrefsListController</string>
			<key>NTFSub</key>
			<string>Experimental</string>
		</dict>

		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Notifica by Nepeta</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
		<dict>
			<key>action</key>
			<string>saveSettings:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SAVE_SETTINGS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>shareSettings:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SHARE_SETTINGS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>importSettings:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>IMPORT_SETTINGS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>testNotifications:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>TEST_NOTIFICATIONS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>testBanner:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>TEST_BANNER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>copyNtoB:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>COPY_N_TO_B</string>
		</dict>
		<dict>
			<key>action</key>
			<string>copyBtoN:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>COPY_B_TO_N</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true />
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>ARE_YOU_SURE_TO_RESET_PREFS</string>
				<key>title</key>
				<string>OK</string>
				<key>okTitle</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>CANCEL</string>
			</dict>
			<key>label</key>
			<string>RESET_PREFS</string>
		</dict>

		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>SOURCE_CODE</string>
			<key>url</key>
			<string>https://github.com/Nepeta/Notifica</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE_TO_NEPETA</string>
			<key>subtitle</key>
			<string>SUPPORT_ME</string>
			<key>url</key>
			<string>https://nepeta.me/donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>Notifica</string>
</dict>
</plist>
