Package: me.nepeta.konban
Name: Konban
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), applist, firmware (>= 11.0)
Version: 0.2.1
Architecture: iphoneos-arm
Description: Replaces the "Today" view with an app of your choice.
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
