<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Nepeta</string>
			<key>user</key>
			<string>NepetaDev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.docky</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>Enabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.docky/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.docky</string>
			<key>label</key>
			<string>FIVE_ICONS</string>
			<key>key</key>
			<string>FiveIcons</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.docky/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DOCK_MODE</string>
			<key>footerText</key>
			<string>DOCK_MODE_INFO</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.docky</string>
			<key>key</key>
			<string>DockMode</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>DOUBLE</string>
				<string>EXPANDABLE</string>
				<string>INFINITE</string>
			</array>
			<key>PostNotification</key>
			<string>me.nepeta.docky/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FORCE_STYLE</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.docky</string>
			<key>key</key>
			<string>ForceStyle</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>IPHONE_X</string>
				<string>IPHONE_NON_X</string>
			</array>
			<key>PostNotification</key>
			<string>me.nepeta.docky/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BACKGROUND_ALPHA</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>me.nepeta.docky</string>
			<key>key</key>
			<string>BackgroundAlpha</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.docky/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>INFINITE_SETTINGS</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.docky</string>
			<key>label</key>
			<string>INFINITE_PAGING</string>
			<key>key</key>
			<string>InfinitePaging</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.docky/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.docky</string>
			<key>label</key>
			<string>INFINITE_SNAP</string>
			<key>key</key>
			<string>InfiniteSnap</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.docky/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.docky</string>
			<key>label</key>
			<string>INFINITE_SCROLLBAR</string>
			<key>key</key>
			<string>InfiniteScrollbar</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.docky/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>INFINITE_SPACING</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>me.nepeta.docky</string>
			<key>key</key>
			<string>InfiniteSpacing</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>30</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.docky/ReloadPrefs</string>
		</dict>

		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Docky by Nepeta</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>SOURCE_CODE</string>
			<key>url</key>
			<string>https://github.com/Nepeta/Docky</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE_TO_NEPETA</string>
			<key>subtitle</key>
			<string>SUPPORT_ME</string>
			<key>url</key>
			<string>https://nepeta.me/donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>Docky</string>
</dict>
</plist>
