<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>icon</key>
			<string>selector.png</string>
		</dict>

		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Nepeta</string>
			<key>user</key>
			<string>NepetaDev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.selector</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>Enabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.selector/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SEARCH</string>
		</dict>
		<!-- Choose search engine -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.selector</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>SearchEnabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.selector/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.selector</string>
			<key>label</key>
			<string>POPUP</string>
			<key>key</key>
			<string>SearchPopup</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.selector/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>https://www.google.com/search?q=%s</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>me.nepeta.selector</string>
			<key>label</key>
			<string>SEARCH_ENGINE</string>
			<key>key</key>
			<string>SearchEngine</string>
			<key>validValues</key>
			<array>
				<string>https://www.google.com/search?q=%s</string>
				<string>https://www.bing.com/search?q=%s</string>
				<string>https://duckduckgo.com/?q=%s</string>
				<string>http://www.baidu.com/s?wd=%s</string>
				<string>https://yandex.com/search/?text=%s</string>
				<string>https://search.yahoo.com/search?p=%s</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Google</string>
				<string>Bing</string>
				<string>DuckDuckGo</string>
				<string>Baidu</string>
				<string>Yandex</string>
				<string>Yahoo</string>
			</array>
			<key>PostNotification</key>
			<string>me.nepeta.selector/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TRANSLATION</string>
		</dict>
		<!-- Choose translation service -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.selector</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>TranslationEnabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.selector/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.selector</string>
			<key>label</key>
			<string>POPUP</string>
			<key>key</key>
			<string>TranslationPopup</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.selector/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>https://translate.google.com/?vi=c#auto/%l/%s</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>me.nepeta.selector</string>
			<key>label</key>
			<string>TRANSLATION_SERVICE</string>
			<key>key</key>
			<string>TranslationService</string>
			<key>validValues</key>
			<array>
				<string>https://translate.google.com/?vi=c#auto/%l/%s</string>
				<string>https://translate.google.cn/?vi=c#auto/%l/%s</string>
				<string>https://fanyi.baidu.com/#auto/%l/%s</string>
				<string>itranslate://translate?from=auto&amp;to=%l&amp;text=%s</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Google Translate (web)</string>
				<string>Google Translate (web/China)</string>
				<string>Baidu (web)</string>
				<string>iTranslate (app)</string>
			</array>
			<key>PostNotification</key>
			<string>me.nepeta.selector/ReloadPrefs</string>
		</dict>
		<!-- Choose language // doesn't work well
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>system</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>me.nepeta.selector</string>
			<key>label</key>
			<string>TRANSLATION_LANGUAGE</string>
			<key>key</key>
			<string>TranslationLanguage</string>
			<key>validValues</key>
			<array>
				<string>auto</string>
				<string>en</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>System</string>
				<string>English</string>
			</array>
			<key>PostNotification</key>
			<string>me.nepeta.selector/ReloadPrefs</string>
		</dict>-->

		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Selector by Nepeta</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true />
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>ARE_YOU_SURE_TO_RESET_PREFS</string>
				<key>title</key>
				<string>OK</string>
				<key>okTitle</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>CANCEL</string>
			</dict>
			<key>label</key>
			<string>RESET_PREFS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>SOURCE_CODE</string>
			<key>url</key>
			<string>https://github.com/Nepeta/Selector</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE_TO_NEPETA</string>
			<key>subtitle</key>
			<string>SUPPORT_ME</string>
			<key>url</key>
			<string>https://nepeta.me/donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>Selector</string>
</dict>
</plist>
