<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>THICKNESS</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>defaults</key>
			<string>me.nepeta.flashyhud</string>
			<key>key</key>
			<string>Thickness</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>60</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.flashyhud/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SIZE</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>me.nepeta.flashyhud</string>
			<key>key</key>
			<string>Size</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.flashyhud/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OFFSET</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.flashyhud</string>
			<key>key</key>
			<string>Offset</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>60</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.flashyhud/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OPACITY</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>me.nepeta.flashyhud</string>
			<key>key</key>
			<string>Opacity</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.flashyhud/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CORNER_RADIUS</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.flashyhud</string>
			<key>key</key>
			<string>CornerRadius</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>30</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.flashyhud/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VERTICAL_OFFSET</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.flashyhud</string>
			<key>key</key>
			<string>VerticalOffset</string>
			<key>min</key>
			<integer>-1</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.flashyhud/ReloadPrefs</string>
		</dict>

 		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HORIZONTAL_OFFSET</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.flashyhud</string>
			<key>key</key>
			<string>HorizontalOffset</string>
			<key>min</key>
			<integer>-1</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.flashyhud/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Layout</string>
</dict>
</plist>
