Package: io.ominousness.ass
Name: AudioSnapshotServer
Version: 1.0.1
Architecture: iphoneos-arm
Description: iOS mediaserverd hook to serve snapshots of current audio buffer via TCP/IP
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks