Package: me.nepeta.selectowo
Name: SelectOwO
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>=11.0)
Version: 0.1.1
Architecture: iphoneos-arm
Description: Select text to OwO
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
