Package: me.nepeta.selector
Name: Selector
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 11.0)
Version: 0.1.2
Architecture: iphoneos-arm
Description: Select text to search or translate
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
