		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>io.c0ldra1n.mitsuhaxi-prefs</string>
			<key>label</key>
			<string>Dynamic controls color (experimental!)</string>
			<key>key</key>
			<string>MSHSpringboardEnableAutoUIColor</string>
			<key>alternateColors</key>
			<true/>
		</dict>